body {
  background-image: linear-gradient(120deg, #3075e2 0%, #ecf9ff 120%);
  display: grid;
  grid-row-gap: 20px;
  grid-template-rows: (1fr, 1fr);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
